@media screen and (max-width: 687px) {
    body{
        width: 100%;
    }
}   
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

form {
    background-color: #f0ecec;
    padding: 20px; 
}
.card-body {
    background-color: #8b88e5;
    padding: 20px;
}