*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:blueviolet;

}
.container{
    align-items: right;
    background: #fff;
    padding: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact h2{
    font-size: 40px;
    color:blue;
    text-align: center;
    margin-bottom: 10px;
}

.contact form{
    width:600px;
    text-align: center;
}

form .input-box{
    display:flex;
    justify-content: space-between;
}
.input-box .input-field{
    width:48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #000;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    margin: 12px 0;
}

.field.error.item{

    border-color: red;

}

.field .item::palceholder{
    color: white;
}

.field .error-txt{
    font-size:10.5px;
    color:red;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt{
    display:block;
}


form .textarea-field .item{
    resize: none;
}


form .textarea-field .error-txt{
    margin-top: -10px;
}

form button{
    padding: 12px 32px;
    background:blue;
    border:none;
    outline:none;
    border-radius: 6px;
    box-shadow:0 0 10px #000;
    font-size:16px;
    color:#fff;
    letter-spacing:1px;
    font-weight:600;
    cursor:pointer;
    margin-top:20px;
}
form button:hover{
    box-shadow:none
}